<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <h3>{{ pageTitle || '' }}</h3>
                    </div>
                    <div class="card-body">
                        <div v-if="showSearchText" class="row">
                            <div class="col-sm-12">
                                <input v-on:keyup="filterData" placeholder="Search photos or albums" class="col-sm-12 form-group p-2 rounded" type="text" v-model="searchStr">
                            </div>
                        </div>
                        <div v-if="!showSearchText" class="row">
                            <div class="col-sm-10">
                                <h3>{{album.album_title || ''}}</h3>
                                <h5>{{photos.length}} Photos</h5>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary" @click="backToList" type="button">Back</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-center form-group" v-for="ele in albums">
                                <div class="albums-section" @click="goToAlbum(ele.id)">
                                    <div>
                                        <div><strong>Album</strong></div>
                                        <div><strong>{{ele.album_title || ''}}</strong></div>
                                        <div><strong>ID:{{ele.id || ''}}</strong></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 text-center form-group" v-for="ele in photos">
                                <div class="photo-section">
                                    <div>
                                        <div><strong>Photo</strong></div>
                                        <div><img style="width:50%;" :src="'/images/'+ele.url"></div>
                                        <div><strong>{{ele.photo_title || ''}}</strong></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                pageTitle: 'My Photos',
                albums: [],
                photos: [],
                searchStr: '',
                timeout: false,
                showSearchText: true,
                album:{}
            }
        },
        mounted() {
            this.getPhotos();
        },
        methods: {
            filterData: function () {
                if (this.timeout){
                    clearTimeout(this.timeout); 
                }
                this.timeout = setTimeout(() => {
                    this.getPhotos();
                }, 200);
            },
            getPhotos: function () {
                axios
                  .get('/api/photos?str='+this.searchStr)
                  .then(response => {
                    this.albums = response.data.albums || [];
                    this.photos = response.data.photos || [];
                  })
            },
            getAlbum: function (id) {
                axios
                  .get(`/api/album/${id}`)
                  .then(response => {
                    this.album = response.data.album || [];
                    this.photos = response.data.photos || [];
                  })
            },
            goToAlbum: function (id='') {
                this.showSearchText = false;
                this.albums = [];
                this.photos = [];
                this.getAlbum(id);
            },
            backToList: function () {
                this.showSearchText = true;
                this.getPhotos();
            }
        }
    }
</script>

<style scoped>
    .albums-section, .photo-section {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        height:200px;
    }
    .albums-section {
        cursor:pointer;
    }
</style>
